<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <form
      class="mt-5 ml-5"
      style="width: 50%"
      action="/board/write"
      method="post"
    >
      <div class="input-group mb-3">
        <input
          type="text"
          aria-label="제목"
          class="form-control"
          placeholder="제목"
          name="title"
        />
        <input
          type="text"
          aria-label="작성자"
          class="form-control"
          placeholder="작성자"
          name="author"
        />
      </div>

      <div class="input-group mb-3">
        <textarea
          style="min-height: 300px"
          class="form-control"
          aria-label="With textarea"
          placeholder="내용"
          name="contents"
        ></textarea
        ><br />
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <button class="btn btn-primary px-3 mt-3 ml-5" onclick="location.href='/'">
      Back
    </button>
  </body>
</html>
